<!doctype html>
<html lang="en">
<head>
    {{> meta}}
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div class="styleguide-wrapper">
        <h1>Component - Hero</h1>
        {{> partial htmlWebpackPlugin.options.data.hero-example}}
    </div>
</body>
</html>
